<!DOCTYPE html>
<html>
<head>
  <title>Hydrate Vue Todo</title>
</head>
<body>
  <h2>What?</h2>
  <p>If you reload the page, it will show the previous items almost immediately.
  The "dry" HTML will be shown while the Vue.js library is being loaded, then
  it will replace the static "dry" HTML with the fully functional web application.
  </p>
  <p>To fully appreciate the experience, we simulate network delays
  by delaying the vue.js and application loading by 2 seconds.
  Notice the delay when an empty list item template is showing.
  Now check the box below and reload the page - you should see valid
  page even before the live web application has started.
  </p>
  <p>
  Use hydration: <input type="checkbox" name="hydrate" id="hydrate">
  </p>
  <h2>Vue app below</h2>
  <div id="app">
    Enter todo: <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <ul>
      <li v-for="todo in todos">
        <span v-text="todo.text"></span>
        <button v-on:click="removeTodo($index)">X</button>
      </li>
    </ul>
  </div>

  <script src="src/run-hydration-or-not.js"></script>
  <script src="src/hydration.js" id="app" verbose="true" on="hydrate"></script>
  <script src="src/load-app.js"></script>
</body>
</html>
